.create-new-game {
  position: absolute;
  top: 150px;
  left: 50%;
  transform: translate(-50%, 0);
}

.create-new-game-inner {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.game-title-input {
  width: 60vw;
  height: 30px;
  font-size: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.game-description-input {
  height: 180px;
  text-align: left;
  width: 60vw;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
}

.text-prompt {
  font-size: 20px;
  margin-top: 10px;
}

.new-game-save-button {
  width: 8vw;
  font-size: 20px;
  background-color: #faf9fc;
  border: black solid 1px;
  border-radius: 5px;
  margin: 0;
}

.new-game-save-button:hover {
  cursor: pointer;
}

.new-game-message {
  color: red;
}

@media (max-width: 1000px) {
  .new-game-save-button {
    width: 25vw;
    font-size: 20px;
  }
}
