.game-entry {
  /* position: absolute; */
  width: 80vw;
  /* left: 50%;
  transform: translate(-50%, 0); */
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  background-color: #faf9fc;
}

.game-icon {
  margin: 30px;
  width: 60px;
}

.game-title {
  font-size: 25px;
  text-decoration: none;
  color: black;
  font-style: bold;
}

.game-info {
  width: 70vw;
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.game-link {
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

@media (max-width: 1000px) and (min-width: 300px) {
  .game-entry {
    width: 90vw;
    border: 1px solid black;
    border-radius: 2px;
    display: flex;
    flex-direction: row;
    background-color: #faf9fc;
  }

  .game-title {
    font-size: 10px;
    text-decoration: none;
    color: black;
    font-style: bold;
  }

  .game-info {
    font-size: 8px;
  }

  .game-icon {
    margin: 15px;
    width: 40px;
  }
}

@media (max-width: 1000px) and (min-width: 300px) {
  .game-entry {
    width: 90vw;
    border: 1px solid black;
    border-radius: 2px;
    display: flex;
    flex-direction: row;
    background-color: #faf9fc;
  }

  .game-title {
    font-size: 10px;
    text-decoration: none;
    color: black;
    font-style: bold;
  }

  .game-info {
    font-size: 8px;
  }

  .game-icon {
    margin: 15px;
    width: 40px;
  }
}

@media (max-width: 300px) {
  .game-entry {
    width: 90vw;
    border: 1px solid black;
    border-radius: 2px;
    display: flex;
    flex-direction: row;
    background-color: #faf9fc;
  }

  .game-title {
    font-size: 12px;
    text-decoration: none;
    color: black;
    font-style: bold;
  }

  a {
    font-size: 6px;
  }

  .game-info {
    font-size: 8px;
  }

  .game-icon {
    width: 0px;
    margin: 10px;
  }
}
