.game-page {
  position: absolute;
  top: 200px;
  left: 50%;
  width: 70vw;
  transform: translate(-50%, 0);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}

.game-area {
  display: flex;
  flex-direction: row;
  gap: 5vw;
}

.game-info-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  gap: 10px;
  width: 60vw;
}

.reviews {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.game-title-icon {
  width: 100px;
}

.game-title-text {
  /* width: 60vw; */
  /* height: 30px; */
  font-size: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.game-description-text {
  /* width: 60vw; */
  font-size: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.description-field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  width: 60vw;
}

.save-button,
.edit-button,
.cancel-button,
.delete-button,
.review-save-button {
  width: 8vw;
  font-size: 20px;
  background-color: #faf9fc;
  border: black solid 1px;
  border-radius: 5px;
  margin: 0;
}

.save-button:hover,
.edit-button:hover,
.cancel-button:hover,
.review-save-button:hover {
  cursor: pointer;
}

.delete-button:hover {
  cursor: pointer;
  color: red;
}

.game-description-input {
  height: 200px;
  text-align: left;
  width: 60vw;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
}

.game-url-input {
  /* height: 200px; */
  text-align: left;
  width: 60vw;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
}

.game-publisher-input {
  /* height: 200px; */
  text-align: left;
  width: 60vw;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
}

.game-title-text {
  font-size: 30px;
}

.new-review-prompt,
.all-review-prompt {
  font-size: 25px;
  margin-top: 0px;
  margin-bottom: 10px;
}

.rating-text,
.detail-text {
  font-size: 20px;
}

.rating-area {
  display: flex;
  flex-direction: row;
  gap: 1vw;
}

.rating-selector {
  font-size: 14px;
  width: 10vw;
}

.review-detail-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}

.review-detail-input {
  font-size: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  height: 100px;
}

.new-review-area {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.separator {
  margin-top: 30px;
  margin-bottom: 20px;
}

.game-link {
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

@media (max-width: 950px) and (min-width: 501px) {
  .save-button,
  .edit-button,
  .delete-button,
  .cancel-button {
    width: 17vw;
    font-size: 15px;
    margin: 0;
  }
}
@media (max-width: 500px) {
  .game-page {
    position: absolute;
    top: 150px;
    left: 50%;
    width: 70vw;
  }

  .game-info-box {
    width: 80vw;
  }
  .game-title-icon {
    width: 50px;
  }

  .save-button,
  .edit-button,
  .cancel-button,
  .delete-button,
  .review-save-button {
    width: 15vw;
    font-size: 15px;
    margin: 0;
  }

  .game-title-text {
    font-size: 20px;
  }
  .game-description-text {
    font-size: 15px;
  }

  .game-description-input,
  .game-publisher-input {
    font-size: 15px;
  }

  .game-url-input {
    /* height: 200px; */
    text-align: left;
    width: 60vw;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-size: 9px;
  }

  a {
    font-size: 10px;
  }
  .new-review-prompt,
  .all-review-prompt {
    font-size: 15px;
    margin-top: 0px;
    margin-bottom: 10px;
  }

  .rating-text,
  .detail-text {
    font-size: 15px;
  }
}

@media (max-width: 300px) {
  .save-button,
  .edit-button,
  .delete-button,
  .cancel-button {
    width: 23vw;
    font-size: 15px;
    margin: 0;
  }

  .game-title-icon {
    width: 0px;
  }

  .review-save-button {
    width: 23vw;
  }
  .rating-selector {
    width: 23vw;
    font-size: 15px;
  }

  .rating-text,
  .detail-text {
    font-size: 15px;
  }

  .review-detail-input {
    font-size: 15px;
  }
}
