.game-entry {
  /* position: absolute; */
  width: 80vw;
  /* left: 50%;
  transform: translate(-50%, 0); */
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  background-color: #faf9fc;
}

.game-icon {
  margin: 30px;
  width: 60px;
}

.game-title {
  font-size: 25px;
  text-decoration: none;
  color: black;
  font-style: bold;
}

.game-info {
  width: 70vw;
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 10px;
  margin-top: 10px;
}
